@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1f1f;
  --background-light: #313737;
  --cwhite: #eef2ff;
  --primary: #386464;
  --primary-light: #569999;
  --primary-light2: #81e6e6;
  --secondary: #898b98;
  --secondary-light: #bcbfcc;
  --tertiary: #c8ddcc;
}

body {
  color: var(--textwhite);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-flash: flash 2s ease-out;
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: var(--background-light);
  }
  100% {
    background-color: transparent;
  }
}
